// Colors

// #Primary
$user-info_bg: hsl(246, 80%, 60%);
$work-top_bg: hsl(15, 100%, 70%);
$play-top_bg: hsl(195, 74%, 62%);
$study-top_bg: hsl(348, 100%, 68%);
$exercise-top_bg: hsl(145, 58%, 55%);
$social-top_bg: hsl(264, 64%, 52%);
$selfcare-top_bg: hsl(43, 84%, 65%);

// #Neutral
$body-bg: hsl(226, 43%, 10%);
$section-bg: hsl(235, 46%, 20%);
$section-bg_hover: hsl(235, 45%, 61%);
$time-prev: hsl(236, 100%, 87%);

// Reusable styles

.bg {
    border-radius: 5%;
    background-color: $section-bg;
    padding: 10%;
    color: #fff;
}

.title {
    display: grid;
    grid-template-columns: 75% 25%;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 15px;
}

.now {
    font-weight: 300;
    font-size: 2em;
    margin-bottom: 5px;
}

.previous {
    color: $time-prev;
    font-size: 13px;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: $body-bg;
}